<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <section class="main">

            
        <div class="main__contact">
            <h2 class="main__title">Origen</h2>
            <!-- <p class="main__paragraph">Welcome back you,ve been missed</p>   -->
      
            
      
            <form action="" class="main__form main__origen">
      
              <input type="text" name="" id="" placeholder="origen" class="main__input">
              
              <div class="main__form__direccion main__input main__form">
                <label for="remitente">Remitente</label>
                <input type="text" name="" id="" placeholder="skydrop" class="main__input">
      
                <input type="text" name="" id="" placeholder="skydrop" class="main__input">
      
                <input type="text" name="" id="" placeholder="Correo electronico" class="main__input">
      
                <input type="text" name="" id="" placeholder="dirrecion" class="main__input">
              </div>
              
              <div class="main__form__direccion main__input main__form">
                <label for="direccion"> Direccion</label>
                <input type="text" name="" id="" placeholder="Numero Interior" class="main__input">
      
                <input type="text" name="" id="" placeholder="ciudad" class="main__input">
      
                <input type="text" name="" id="" placeholder="pais" class="main__input">
      
              <input type="text" name="" id="" placeholder="detalles" class="main__input">
              </div>
              
      
            </form>
          </div>
        


        <div class="main__contact">
          <h2 class="main__title">Destino</h2>
          <!-- <p class="main__paragraph">Welcome back you,ve been missed</p>   -->
    
          
    
          <form action="" class="main__form">
    
            <input type="text" name="" id="" placeholder="origen" class="main__input">
    
            <input type="text" name="" id="" placeholder="skydrop" class="main__input">
    
            <input type="text" name="" id="" placeholder="skydrop" class="main__input">
    
            <input type="text" name="" id="" placeholder="Correo electronico" class="main__input">
    
            <input type="text" name="" id="" placeholder="dirrecion" class="main__input">
    
            <input type="text" name="" id="" placeholder="Numero Interior" class="main__input">
    
            <input type="text" name="" id="" placeholder="ciudad" class="main__input">
    
            <input type="text" name="" id="" placeholder="pais" class="main__input">
    
            <input type="text" name="" id="" placeholder="detalles" class="main__input">
            
    
          </form>
        </div>
    
      </section>
</body>
</html>