
*{
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Raleway', sans-serif;
    min-height: 600px;
    padding: 80 px 0;
    background-image: linear-gradient(to top,#a3bded 0%, #6991c7 100%);
    background-color: #a3bded;
    background-repeat: no-repeat;
    display: flex;

}

.main{
    margin: auto;
    width: 90%;
    background-image:linear-gradient(rgba(255, 255, 255, 0.308),rgba(255, 255, 255, 0.452));
    overflow: hidden;
    padding: .7em;

    border-radius: 1em;
/* crea columnas dinamicamente */
    display: grid;
    grid-auto-rows:max-content;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: 0.6em;
}


.main__contact { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    padding: 3em .7em;
    text-align: center;
}

.main__form{
    display: grid;
    justify-items: center;
    gap:1.5em
}

.main__input{
    /* background-color: black; */
    /* margin: 20px; */
    /* padding: 20px; */
    width: 70%;
    max-width: 500px;
    outline: none;
    border: none;
    padding: 1em;
    border-radius: .6em;
}

/* .main__origen{
    width: 80%;
    background-color: #D798F8;
} */

.main__form__direccion{
    display: flex;
    flex-wrap: wrap;
}


